* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#myVideo2 {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#myVideo3 {
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: absolute;
    top: 25%;
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content2 {
    position: absolute;
    top: 25%;
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content3 {
    position: absolute;
    top: 25%;
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

#myBtn, #myBtn2, #myBtn3 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

    #myBtn:hover {
        background: #ddd;
        color: black;
    }

    #myBtn2:hover {
        background: #ddd;
        color: black;
    } 
    #myBtn3:hover {
        background: #ddd;
        color: black;
    }
    .imageStyle {
        margin: 10px;
        height: 250px;
        width: 100%;
    }
